.red {
    background-color: rgb(255, 0, 0, 0.3);
}
.blue {
    background-color: rgb(0, 0, 255, 0.3);
}
.yellow {
    background-color: rgb(255, 255, 0, 0.3);
}
.green {
    background-color: rgb(0, 128, 0, 0.3);
}

.trasparent {
    background-color: rgb(0, 0, 0, 0) !important;
}